body{
    font-family: "Century Gothic", Times, serif;
}

.brand-logo {
	padding-left: 30px !important;
}

.brand-logo > i {
    font-size: 35px !important;
}

.btn{
    background-color: red !important; 
    margin: 10px;
}

.btn > i {
    font-size: 35px !important;
}