.compensatore{ height: 100px; }

.tut-sc{ 
	font-size: 0.9rem;
	font-style: italic;
 }

 .head-diario {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #26a69a;
    color: white;
 }