body{
    font-family: "Century Gothic", Times, serif;
}

.brand-logo {
	padding-left: 30px !important;
}

.brand-logo > i {
    font-size: 35px !important;
}

.btn-nega{
    background-color: red !important; 
    padding: 20px;
    height: auto;
    opacity: .7;
}

.btn-nega > i {
    font-size: 35px !important;
}

.btn-nega:hover{
	opacity: 1;
}

nav{
	background-color: red;
}

.my-red{
	color: red;
}

h3{
	text-transform: uppercase;
}